@font-face {
    font-family: "Regular";
    src: url("HelveticaNeueLTStd-Lt.otf") format("truetype")
}

@font-face {
    font-family: "Light";
    src: url("OpenSans-Light.ttf") format("truetype")
}

@font-face {
    font-family: "ExtraBold";
    src: url("HelveticaNeueLTStd-Bd.otf") format("truetype")
}

@font-face {
    font-family: "Compacta";
    src: url("Abel-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "Garigoleada";
    src: url("Windsong.ttf") format("truetype")
}

@font-face {
    font-family: "Pizarra";
    src: url("CFCrayons-Regular.ttf") format("truetype")
}

::-webkit-scrollbar {
    width: 20px
}

::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); */
    /* -webkit-box-shadow: inset 0 0 3px #005BA0; */
    background-color:#EBEBEB;
    opacity: 0.5;
    width: 20px;

    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    /* -webkit-box-shadow: inset 0 0 3px #A3C30F; */
    background-color:#D6D6D6;
    /* -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5) */
}
#menuprincipal{ 
    width:100%;
}


.tabla { width: 100%; font-size: 10pt; font-family: "Regular"; }
.tabla a { }
.tabla a:hover { }
.tabla tr { margin-top: 5px; margin-bottom: 5px; }
.tabla tr:nth-child(even) td { background: #E8E8E8; padding: 5px; opacity: 0.8; }
.tabla tr:nth-child(odd) td { background: white; padding: 5px; opacity: 0.8; }

#terminal{
    width: 100%;
    height: 300px;
    background-color: orange;
    overflow: auto;
    padding: 4px;
    
}
article {
    width: 40%;
    padding: 5px; margin: 5px;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    display: inline-block; vertical-align: top;
}
.forma{
    position: absolute;
    width: 100%;
    margin: 0px;
    height: 100%;
    background-color: white;
}

.ventana{
    background-color: white; color: gray;
    border: 1px #D6D6D6 solid;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    display: inline-block;
    margin: 10px;

}
.ventana div {
    width: 30%; display: inline-block; margin: 2px;
}
h2 {
    margin: 0px;
    font-size: 18pt;
    color: #0099CC;
font-family: "Compacta";
text-transform: uppercase;

}
#menuprincipal li {
    width:20%; background-color: white;
    padding: 10px;
    border: 1px gray solid; border-radius: 5px;
    display: inline-block;
    margin: 5px;
    font-size: 10pt;
}
 a {text-decoration: none; color: #00698C;}

#menu {
    width: 100%;
    margin: 0px;
    background-color: white; color: gray;
    font-family: "Light"; font-size: 12pt;

}
body {
    font-family: Verdana;
    margin: 0px;
    text-align: center;
    background-image: url("../img/fondo.png");
    background-color:#4D004D;
    color:white;
}

form div {
    width: 40%;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: top
}


label {
    display: block;
    font-family: "Light";
    font-size: 10pt;
    margin-top: 10px
}

form {
    background-color: white; color: gray;
    border: 1px #D6D6D6 solid;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    display: inline-block;
    margin: 10px;
}

input{
    height: 50px;
    font-size: 18pt;
    color: gray;
    border: 1px gray solid;


}
input:focus {
    border: 0px;
}

.resultado {
    background-color: #0099CB;
    color: white;
    text-align: center;
}
.btn {
    border: none;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 4px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    height: 50px;   
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s
}

.btn img {
    width: 23px
}
#mensaje { border-color: #C9E6F5; background-color: #E4F2FA; }

#modal_oscuro {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0,0,0,0.8);
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 999;
    transition: all 1s;
    width: 100%
}

#modal_error {
    visibility: visible;
    opacity: 1;
    background-color: #7D0000;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 809;
    transition: all 1s;
    width: 100%
}


#msg_error {
    width: 50%;
    top: 20%;
    left: 20%;
    right: 20%;
    margin: 0px;
    border-radius: 0px
}
#msg_error {
    color: red;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #FF0000;
    background-color: white;
    width: 50%;
    position: absolute;
    top: 20%;
    left: 20px;
    right: 20%;
    z-index: 2010;
    opacity: 1;
    padding: 10px;
    margin: 0px;
    margin-top: 100px;
    transition: all 0.5s cubic-bezier(.46, .03, .52, .96)
}
#msg_error p {
    font-size: 12pt
}
#msg_error a {
    text-decoration: none
}
#msg_error img {
    width: 60%;
    height: 50%
}

#mensaje {
    color: black;
    text-align: center;
    border-radius: 10px;
    border: 2px solid white;
    background-color: white;
    width: 50%;
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    z-index: 2010;
    opacity: 1;
    padding: 10px;
    margin: 10px;
    margin-top: 100px;
    transition: all 5s cubic-bezier(.46, .03, .52, .96)
}

#mensaje p {
    font-size: 12pt
}

#mensaje a {
    text-decoration: none
}

#mensaje img {
    width: 60%;
    height: 50%
}

.btn a {
    text-decoration: none;
    color: inherit;
    font-family: inherit
}

.btn-default {  background-color: #0099CC; color: white; font-family: "Compacta"; font-weight: bold; text-shadow: 0 1px black; box-shadow: 0 3px #00698C; font-size: 14pt; }
.btn-default:hover { box-shadow: 0 1px #00698C; background-color: #00698C; top: 2px; }
.btn-default:active { box-shadow: 0 0 #00698C; top: 6px; }

.btn-secundario {  background-color: #0099CC; color: white; font-family: "Compacta"; font-weight: bold; text-shadow: 0 1px black; box-shadow: 0 3px #00698C; font-size: 14pt; }

/* .btn-secundario { background-color: #9A968B; color: black; box-shadow: 0 3px rgb(95, 93, 88); font-family: "Compacta"; } */
.btn-secundario:hover { box-shadow: 0 1px rgb(95, 93, 88); background-color: rgb(95, 93, 88); top: 2px; }
.btn-secundario:active { box-shadow: 0 0 rgb(95, 93, 88); top: 6px; }
